<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
 http://maven.apache.org/xsd/settings-1.2.0.xsd">

  <mirrors>
    <mirror>
      <id>local-repository</id>
      <url>http://localhost:8081/repository/maven-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>local-snapshot-repository</id>
      <url>http://localhost:8081/repository/maven-snapshots/</url>
      <mirrorOf>snapshots</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>file-lock-for-shared-local-repo</id>
      <properties>
        <aether.syncContext.named.factory>file-lock</aether.syncContext.named.factory>
        <aether.syncContext.named.nameMapper>file-gav</aether.syncContext.named.nameMapper>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <!-- This must be here. It will not work if it's in the activation/activeByDefault block -->
    <activeProfile>file-lock-for-shared-local-repo</activeProfile>
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>
</settings>

